{
    "presets": ["next/babel"],
    "plugins": [
        [ "module-resolver", {
            "root": ["./"],
            "alias": {
                "@apollo": "./lib/@apollo",
                "@config": "./lib/@config"
            }
        }]
    ]
}