.inputContainer {
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
}

.input {
    padding: 12px;
    width: calc(100% - 108px);
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #58aec7;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.button {
    padding: 14px 24px;
    background: #58aec7;
    color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
}