.wrapper {
    flex: 1;
    background-image: url(/static/@images/lines.png);
    z-index: zindex(chat);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding:  0 12px;
    max-width: 500px;
    box-sizing: border-box;
}

.list {
    position: relative;
    float: left;
    padding: 12px;
    min-height: 200px;
    background: #edededb6;
    border: 2px solid #d7d7d7;
    border-radius: 8px;
    font-Family: cursive;
}
